# mod_rewrite starts here
RewriteEngine on

# doesnt activate on folders
RewriteCond %{REQUEST_FILENAME} !-d

#check for .html in dir
RewriteCond %{REQUEST_FILENAME}\.html -f

# show page with .html extension
RewriteRule ^(.*)$ $1.html [NC,L]